/* SCSS vars go here */
$mobile: "all and (max-width: 50em)";
$desktop: "all and (min-width: 50em) ";
.desktop{
    @media #{$mobile} {
        display: none!important;
    }
}
.mobile{
    @media #{$desktop} {
        display: none!important;
    }
}
$blue:#4990E2;
$border: 1px solid $blue;
$darkgray:#4A4A4A;
$lightgray:#F2F2F2;
.button{
    text-align: center;
    @media #{$desktop} {
        font-size:20px;
    }
    @media #{$mobile} {
        font-size:17px;
        padding:10px;
    }
    width:100%;
    background-color:#F2F2F2;
    border:none;
    cursor:pointer;
}
.button-active{
    @extend .button;
    background-color:$blue;
    color:#fff;
}
.button-lite{
    @extend .button;
    background-color:$lightgray;
    color:$darkgray;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    margin: 2% 0;
}
/*
    ____
   / __ \____  ____  ____ ___
  / /_/ / __ \/ __ \/ __ `__ \
 / _, _/ /_/ / /_/ / / / / / /
/_/ |_|\____/\____/_/ /_/ /_/

*/
.room{
    border-right:$border;
    display: inline-block;
    @media #{$desktop} {
        width:80%;
        margin-left: 10%;
        margin-top: 25px;
    }
    @media #{$mobile} {
        width: 100%;
        margin-top:0;
        margin-left: 0;
    }




    >*{
        box-sizing:border-box;
    }
    .head-plate{
        background-color: #fff;
        position: fixed;
        width: 100%;
        z-index: 100;
        left: 0;
        display: inline-block;
        height: 51px;
        top: 0;
        @media #{$mobile} {
            display:none;
        }
    }
    header{
        display: inline-block;
        box-sizing: border-box;
        position: fixed;
        @media #{$mobile} {
            width: 100%;
        }
        @media #{$desktop} {
            width: 80%;
            margin-top: 25px;
        }

        padding: 18px;
        color: #4A4A4A;
        font-size: 20px;
        z-index: 100;

        background-color: #fff;
        font-weight: bold;
        border-top:$border;
        border-left:$border;
        border-bottom:$border;
        .room-name{
            float:left;
        }
        .chat-name{
            float: right;
        }
    }
    .chat{
        display:inline-block;
        float:left;
        margin-bottom: 38px;
        min-height: 1600px;
        min-height:100vw;
        @media #{$mobile} {
            width:100%;
            padding-top: 100px;
        }
        @media #{$desktop} {
            width:80%;
            padding-top: 90px;
            border-left: $border;
            border-right: $border;
        }

    }
    .sidebar{
        display: inline-block;
        float: left;
        top: 46px;
        width: 16%;
        border-bottom: $border;
        position: fixed;
        padding-top: 72px;
        .room-list{
            max-height: 20em;
            overflow: scroll;
            position: relative;
            @media #{$mobile} {
               display:none;
            }
        }
        .join{
            @media #{$mobile} {
                position: fixed;
                top: 67px;
                right: 0;
                width: 50%;
                font-size: 15px;
                padding: 5px;
            }
        }
        .username-switch{
            @media #{$mobile} {
                position: fixed;
                float: left;
                left: 5px;
                top: 73px;
                text-align: left;
                padding: 0;
                font-size: 14px;
            }
        }
    }
    footer{
        position: fixed;
        bottom: 0;

        border-left:$border;
        @media #{$desktop} {
            width: 80%;
        }
        @media #{$mobile} {
            width: 100%;
        }
        display: block;
        box-sizing: border-box;
        >*{
            box-sizing:border-box;
        }
        .new-message{
            input{
                width:80%;
                display:inline-block;
                float: left;
                box-sizing: border-box;
                border-top:$border;
                border-bottom: $border;
                border-left:none;
                border-right:none;
                @media #{$desktop} {
                    font-size: 18px;
                }
                padding: 10px;
            }
        }
        .talk-button{
            display:inline-block;
            float: left;
            bottom: 0;
            width: 20%;
            padding: 10px;
        }
    }
}
/*    __  ___
   /  |/  /__  ______________ _____ ____
  / /|_/ / _ \/ ___/ ___/ __ `/ __ `/ _ \
 / /  / /  __(__  |__  ) /_/ / /_/ /  __/
/_/  /_/\___/____/____/\__,_/\__, /\___/
                            /____/*/
.message{
    @media #{$mobile} {
      width: 96%;
      display: inline-block;
      margin: 9px auto;
      clear: both;
    }
    @media #{$desktop} {
        width: 100%;
        display: inline-block;
        margin: 32px 0;
        clear: both;
    }
    .user-name{
        width:20%;
        display:inline-block;
        float: left;
        text-align: right;
        padding-right: 2%;
        box-sizing: border-box;
    }
    .triangle{
        width:5%;
        display:inline-block;
        float:left;
    }
    .user-name{
        font-weight:bold;
    }
    .message-text{
        display:inline-block;
        width:75%;
        min-height: 3.5em;
        float: right;
        border:1px solid $darkgray;
        padding:10px;
        position: relative;
        box-sizing:border-box;
        margin-right: 3%;
        /* this CS forms the triangles */
        &:after,&:before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
            }
        /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
        &:after {
            top: -0.3%;
            left: -19px;
            border-color: transparent #fff transparent transparent;
            border-width: 10px
        }
         /* this border color controlls the outside, thin border */
        &:before {
            top: -0.3%;
            left: -20px;
            border-color: transparent #4A4A4A transparent transparent;
            border-width: 10px;
        }

    }
}



body{
    font-family: 'Heebo', sans-serif;
    padding: 0;
    margin: 0;
}
/*
    __  ___          __      __
   /  |/  /___  ____/ /___ _/ /
  / /|_/ / __ \/ __  / __ `/ /
 / /  / / /_/ / /_/ / /_/ / /
/_/  /_/\____/\__,_/\__,_/_/

*/
.modal{
    padding:20px;
    box-sizing:border-box;
    h1{
        text-align:center;
    }
    input{
        width: 100%;
        display: block;
        box-sizing: border-box;
        @media #{$desktop} {
            font-size: 2em;
        }
        @media #{$mobile} {
            font-size: 1.2em;
        }
        text-align: center;
    }
    .w3-modal{
        z-index:1000;
        padding-top:100px;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        background-color:rgba(100,100,100,0.8)

    }

    .w3-modal-content{
        @media #{$desktop} {
            width: 30%;
            padding: 50px;
        }
        @media #{$mobile} {
            width:100%;
            padding: 10px;
        }
        margin: auto;
        box-sizing: border-box;

        border: $border;
        background-color: #fff;
    }
    .closemodal{
        float: right;
        font-size: 3em;
        top: -0.8em;
        right: 1em;
        height: 1em;
        position: relative;
        right: 0.1em;
    }
}
