<head>
  <title>Meteor Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700,800,900" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{> modal}}
  </div>
</body>
<template name="Room">
<div class="room">
  <div class="head-plate"></div>
  <header>
    <div class="room-name">
      {{roomName}}
    </div>
    <div class="chat-name">
      HEEBO.CHAT
    </div>
  </header>
  <div class="chat">
    {{ #if Template.subscriptionsReady }}
    {{#each messages}}
    {{>message}}
    {{/each}}
    {{/if}}
  </div>
  <div class="sidebar">
    <button class="modal button username-switch" data-modal-template="joinModal">  {{ #if username }} {{username }} {{else}} Enter username{{/if}} </button>
    {{ #if username }}
    <button class="modal button button-active join"  data-modal-template="joinRoomModal" >Join Room</button>
    <div class="room-list">
      {{ #if Template.subscriptionsReady }}
      {{#each rooms}}
        <a class="button-lite" href="/room/{{name}}">{{name}}</a>
      {{/each}}
      {{/if}}
    </div>
    {{ /if}}
  </div>
  <footer>
    <form class="new-message">
      <input type="text" id="text" name="text" placeholder="Type here..." autocomplete="off"/>
    </form>
    <button class="button-active talk-button">
    TALK
    </button>
  </footer>
</div>
</template>
<template name="message">
  <div class="message">
    <div class="user-name">{{username}}</div>
    <div class="message-text">{{messageText}}</div>
  </div>
</template>
<template name="modal">
  {{#if activeModal}}
  <div class="modal">
    {{> Template.dynamic template=activeModal}}
  </div>
  {{/if}}
</template>
<template name="joinRoomModal">
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span class="closemodal">&times;</span>
      <h1>HEEBO.CHAT</h1>
      <p><input class="selected-room-name" placeholder="enter room name" type="text" ></p>
      <button class="join_room button-active">Join Room!</button>
    </div>
  </div>
</div>
</template>
<template name="joinModal">
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span class="closemodal">&times;</span>
      <h1>HEEBO.CHAT</h1>
      <p><input class="username" placeholder="username" type="text" ></p>
      <button class="save_username button-active">Chat now!</button>
    </div>
  </div>
</div>
</template>